/* Fonts */

@mixin headerFont {
    font-family: $f1;
    font-weight: 600;
    font-kerning: auto;
    line-height: 1.2l;
    color: $c1;
    font-size: 1.75rem;
}

@mixin bodyCopy {
    font-family: $f2;
    font-weight: 100;
    font-kerning: unset;
    line-height: 1.8;
    width: 487px;
}

@mixin displayFont {
    font-family: $f3;
    font-weight: 100;
    color: darken($c1, 10);
}

@mixin fullScreen {
    width:100vw;
    height: 100vh;
    z-index: 0;
}

@mixin fixed-Background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

@mixin objectFit {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin: 0 auto;
}

@mixin boxModel {
    margin: 0 auto;
    border: 0px;
    padding: 0 20px;
    width: auto;
    height: 0 auto;
    display: inline-block;
    z-index: 3;
    overflow: hidden;
    box-shadow: 2px 1px solid black ;
}

@mixin centerContent {
    top: 20vh;
    bottom: 20vh;
    position: relative;
    @include transition;
}

@mixin transition {
    transition: 1s linear 1s;
    transform: translate(10px, 0px);
    color: lighten($c2, 10);
}

@mixin fadeIn {
    /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}