html {
    scroll-behavior: smooth;
    padding:0;
    margin:0;
}

.respImg {
    width:100%;
    height: auto;
    transform: scale(1, 1);   
}

.thumbnail {
    object-fit: cover;
    object-position: center;
    width:225px;
    height:225px; 
}

.portraitImg {
    width: 395px;
    height: 488px;
    object-fit: cover;
    object-position: center;
}

.medImg {
    height: 488px;
    width: auto;
    margin: auto;

}

h1, h2 {
    @include headerFont;
}

h4,h6 {
    @include displayFont;
}

p {
    @include bodyCopy;
}