html {
    scroll-behavior: smooth;
    padding:0;
    margin:0;
}

body {
    z-index:1;
}

h1, h2 {
    @include headerFont;
}

h4,h6 {
    @include displayFont;
}

p {
    @include bodyCopy;
}

.imgRes {
    width:100%;
    height: auto;
}

.ImgPort {
    width: 345px;
    height: 540px;
    @include objectFit;
}

.thumbnail {
    height: 275px;
    width: 275px;
    @include objectFit;
}
