.nav {
    background-color: darken($c1, 10);
    box-shadow: 1px 2px 10px #000;

    a {
        color: lighten($c2, 90);
    }

    a:hover {
        font-weight: 600;
        @include transition;
    }
}

#section0 {
    @include fullScreen;
    background-image: url('/assets/img/green-plantation-2884905.jpg');
    @include fixed-Background;

    #carouselExampleFade {
        @include boxModel;
        @include centerContent;

        .carousel-inner {
            @include objectFit;
            padding: 1em;
            max-width: 426px / 2;
            max-height: 240px /2;
            width: 426px * 2;
            height: 240px * 2;
        }

    }

    #carouselExampleFade:hover {
        @include transition;
    }

    .contentBlock {
        @include boxModel;
        @include centerContent;
        background: darken($c1, 50);
        color: lighten ($c1, 75);
        padding: 1em;
    } .contentBlock:hover{
        @include transition;
        background: lighten($c1, 100);
        color: lighten ($c1, 0);
    }
}

#section1 {
    @include fullScreen;
    .contentBlock {
        @include boxModel;
        @include transition;
        @include centerContent;

        #productForm {
            @include boxModel;
            background: darken($c1, 5);
            color: lighten ($c1, 5, );
            width: 375px;
            box-shadow: 10px 15px 2px $c3;

            .form-group {
                padding: 1rem;
                margin: 0 auto;
                @include bodyCopy;
                width: 90%;
            }
        }
    }
    
    #slider1{
        position: relative;
        margin: auto;
        max-width: 1000px;
        
        .innerSlider1 {
            display: none;
            @include fadeIn;

            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;

            } .next {
                right: 0;
            }
        }
    }
}

#section2 {
    @include fullScreen;
    @include centerContent;

        .contentBlock {
            @include boxModel;
            @include transition;
            @include centerContent;
        }
        
        #signUpForm {
            @include boxModel;
            background: darken($c1, 5);
            color: lighten ($c1, 100);
            width: 375px;
            box-shadow: 10px 15px 2px $c3;

            .form-group {
            padding: 1rem;
            margin: 0 auto;
            @include bodyCopy;
            width: 90%;
            }
        }
}

footer {
    background: darken($c3, 5);
        .new-item-form {
            background: lighten($c1, 1);
            color: lighten($c1, 100);
            padding: 1rem;
            @include boxModel;

            .form {
                align-content: initial;
                justify-content: start;
                width: 45%;
                
                input {
                    background: lighten($c1, 100);
                }
            }
        }
}