.nav {
    height: 45px;
    width: 100%;
    background: $c1;
    box-shadow: 2px 2px 4px #000;
    
    .nav-item {
        top:25px;
        justify-content: center;
        display: flex;

        a {
            color: $c2;
        }
        a:hover {
            transition: .5s ease;
            color: $c1;
        }
    }
}


